/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center; /*center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  padding: 10px;
  font-family: "Arial", sans-serif;
  margin: 0;
  color: #333;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 20px 0;
  border-radius: 8px 8px 0 0;
}

header h1 {
  margin: 0;
}

form {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

button {
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
  color: #fff;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li h3 {
  margin: 10px 0 0;
  color: #333;
}

li p {
  margin: 0;
  padding: 0 10px 10px;
  color: #777;
}

button.delete {
  background-color: #e74c3c;
}

button.delete:hover {
  background-color: #c0392b;
}

/* Responsive Styles */
@media (max-width: 600px) {
  header {
    font-size: 1.5em;
  }

  input,
  textarea,
  select,
  button {
    margin-bottom: 10px;
  }
}
